.main-wrapper {
  margin-top: $inuit-global-spacing-unit;
  @media screen and (min-width: 1024px) {
    margin-left: 30%;
    display: flex;
    align-items: flex-start;
    margin-right: auto;
  }
  @media screen and (min-width: 2300px) {
    margin:auto;
  }
}