.mainHeader {
  background: url('../img/header-bcg.jpg');
  padding-top: $inuit-global-spacing-unit;
  height: inuit-rem(300px);
  position: relative;
  background-size: 120%;
  background-position: 30% 0%;
}