.hamburger {
  margin-left: $inuit-global-spacing-unit;
  display: block;
  background-image: url("../img/menu.svg");
  background-size: cover;
  @include inuit-rem(width, 30px);
  @include inuit-rem(height, 30px);
  @media screen and (min-width: 1024px) {
    display: none;
  }
}