.contact {
  padding: 0 $inuit-global-spacing-unit-small;
  @media screen and (min-width: 424px) {
    max-width: 30em;
    width: 65%;
    margin: auto;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__label {
    color: $pf-blue;
    text-transform: uppercase;
    &:nth-child(n+2) {
      margin-top: $inuit-global-spacing-unit;
    }
  }
  &__input {
    margin-top: $inuit-global-spacing-unit-small;
    background: none;
    border: 0;
    border-bottom: 2px solid $pf-pink;
    outline-color: $pf-pink;
    width: 100%;
    max-width: 100%;
  }
  &__submit {
    background: none;
    margin-top: $inuit-global-spacing-unit;
  }
}
.screen-reader-response {
  @include inuit-hidden-visually;
}

[role="alert"] {
  color: #ee3432;
  display: block;
}

[aria-invalid="true"] {
  border-color: #ee3432;
}

.wpcf7-mail-sent-ng {
  color: green;
  font-family: 'Roboto', SansSerif;
}
.wpcf7-mail-sent-ok {
  color: green;
  font-family: 'Roboto', SansSerif;
}

.wpcf7-response-output {
  padding-bottom: $inuit-global-spacing-unit;
}