.socials {
  &__item {
    text-decoration: none;
    font-size: $inuit-font-size-h2;
    transition: 0.2s;
    color: white;
    padding: 0 $inuit-global-spacing-unit;
    &::before {
      font-family: "FontAwesome";
    }
    &_behance::before {
      content: "\f1b4";
    }
    &_github::before {
      content: "\f09b";
    }
    &_linkedin::before {
      content: "\f0e1";
    }
    &_dribbble::before {
      content: "\f17d";
    }
  }
}