.headercols {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //position: relative;
  margin-top: $inuit-global-spacing-unit;
  margin-right: $inuit-global-spacing-unit-small;
  margin-left: $inuit-global-spacing-unit-small;
  @media screen and (min-width: 596px) {
    justify-content: space-around;
    margin-right: $inuit-global-spacing-unit-small;
    margin-left: $inuit-global-spacing-unit-small;
  }
  @media screen and (min-width: 775px) {
    flex-direction: row;
    align-items: flex-start;
  }
}