.card-wrapper {
  padding: 0 $inuit-global-spacing-unit-small;
  margin-bottom: $inuit-global-spacing-unit;
}

.card {
  background: white;
  padding: $inuit-global-spacing-unit;
  box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.09);
  max-width: 30em;
  margin: auto;
  &:nth-child(n+2) {
    margin-top: $inuit-global-spacing-unit;
  }
  &__title {
    text-transform: uppercase;
    font-size: $inuit-font-size-h4;
    font-family: "Open Sans", SansSerif;
    font-weight: bold;
    display: block;
  }
  &__links {
    margin:auto;
    margin-bottom: $inuit-global-spacing-unit;
    text-align: center;
    font-size: $inuit-font-size-h2;
  }
  &__link {
    color: $pf-blue;
  }
  &__image {
    margin-bottom: $inuit-global-spacing-unit;
    border-bottom: 4px solid $pf-pink;
  }
  &__text {
    margin: $inuit-global-spacing-unit;
  }
  &__header {
    background: $pf-blue;
    padding: $inuit-global-spacing-unit;
    color: white;
  }
  &_no-padding {
    padding: 0;
  }
}