.figure {
  display: inline-block;
  &__image {
    border-bottom: 4px solid $pf-pink;
    margin-bottom: $inuit-global-spacing-unit-small;
  }
  &__caption {
    font-style: italic;
    text-align: center;
  }
}