.definitions {
  @media screen and (min-width: 600px) {
    margin-right: $inuit-global-spacing-unit;
    &:nth-child(n+2) {
    }
  }
  &__term {
    font-weight: bold;
  }
  &__desc {
    margin-left: 0;
  }
}