.icons {
  &:before {
    font-family: FontAwesome;
    //color: $pf-pink;
    vertical-align: middle;
    transition: 0.2s;
  }
  &_pink:before {
    color: $pf-pink;
  }
  &_pink:hover:before {
    color: white;
  }
  &_blue:before{
    color: $pf-blue;
  }
  &_blue:hover:before{
    color: $pf-pink;
  }
  &_email:before {
    content: "\f1fa";
    margin-right: $inuit-global-spacing-unit-small;
  }
  &_phone:before {
    content: "\f095";
    margin-right: $inuit-global-spacing-unit-small + 3px;
  }
  &_location:before {
    content: "\f041";
    margin-right: $inuit-global-spacing-unit-small + 5px;
  }
  &_github:before {
    content: "\f09b";
    vertical-align: inherit;
    margin-right: $inuit-global-spacing-unit-small;
  }
  &_arrow-left:before {
    content: "\f060";
    vertical-align: inherit;
    margin-right: $inuit-global-spacing-unit-small;
  }
  &_car:before {
    content: "\f1b9";
    margin-right: $inuit-global-spacing-unit-small;
  }
  &_smile:before {
    content: "\f118";
    margin-right: $inuit-global-spacing-unit-small + 6px;
  }
  &_battery:before {
    content: "\f240";
    margin-right: $inuit-global-spacing-unit-small - 1px;
  }&_link:before {
     content: "\f08e";
     margin-right: $inuit-global-spacing-unit-small - 1px;
   }

}