.contact {
  padding: 0 $inuit-global-spacing-unit-small;
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__label {
    color: $pf-blue;
    text-transform: uppercase;
    &:nth-child(n+2) {
      margin-top: $inuit-global-spacing-unit;
    }
  }
  &__input {
    margin-top: $inuit-global-spacing-unit-small;
    background: none;
    border: 0;
    border-bottom: 2px solid $pf-pink;
    outline-color: $pf-pink;
  }
  &__submit {
    background: none;
    margin-top: $inuit-global-spacing-unit;
  }
}