.latestPosts {
  padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-small;
  &__title {
    font-weight: bold;
    color: $pf-blue;
  }
}

.postsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item {
    max-width: 30em;
    //margin: auto;
    margin-bottom: $inuit-global-spacing-unit-large;
    @media screen and (min-width: 984px) {
      &:nth-child(2n+1) {
        margin-right: $inuit-global-spacing-unit;
      }
    }
  }
  &__title {
    margin-bottom: 0;
    padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-small;
    background: $pf-blue;
    color: white;
    display: block;
    transition: 0.2s;
    &:hover {
      color: $pf-pink;
    }
  }
  &__time {
    padding: $inuit-global-spacing-unit-small;
    background: $pf-pink;
    display: inline-block;
    color: $pf-blue;
    margin-bottom: $inuit-global-spacing-unit;
  }
}