.features {
  &__item {
    &:nth-child(n+2) {
      margin-top: $inuit-global-spacing-unit-large;
    }
  }
  &__name {
    max-width: 100%;
    font-size: $inuit-font-size-h4;
    display: block;
    color: white;
    background: $pf-blue;
    margin-bottom: 0;
    padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-small;
  }
  &__image {
    margin-bottom: $inuit-global-spacing-unit;
    border-bottom: 4px solid $pf-pink;
  }
  &__description {
    padding: 0 $inuit-global-spacing-unit-small;
  }
}