.mainHeader {
  background: url('../img/header-bcg.jpg');
  padding-top: $inuit-global-spacing-unit;
  height: inuit-rem(300px);
  position: relative;
  background-size: 120%;
  background-position: 30% 0%;
  @media screen and (min-width: 596px) {
    height: inuit-rem(600px);
    background-size: 160%;
  }
}

.siteHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  margin-right: 24px;
}